.elementor-2840
  .elementor-element.elementor-element-65c14b10
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-2840
  .elementor-element.elementor-element-65c14b10:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2840
  .elementor-element.elementor-element-65c14b10
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-2840 .elementor-element.elementor-element-65c14b10 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2840
  .elementor-element.elementor-element-65c14b10
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2840
  .elementor-element.elementor-element-581decff
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2840
  .elementor-element.elementor-element-581decff
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2840 .elementor-element.elementor-element-6c62b145 {
  --grid-template-columns: repeat(4, auto);
  --icon-size: 12px;
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  .elementor-widget-container {
  text-align: left;
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  .elementor-social-icon {
  background-color: #02010100;
  --icon-padding: 1.2em;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #ffffff33;
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  .elementor-social-icon
  i {
  color: var(--e-global-color-d2a20c6);
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  .elementor-social-icon
  svg {
  fill: var(--e-global-color-d2a20c6);
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-secondary);
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-secondary);
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  .elementor-social-icon:hover {
  border-color: #ffffff33;
}
.elementor-2840
  .elementor-element.elementor-element-6c62b145
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 0px 1px;
  border-color: #ffffff33;
}
.elementor-bc-flex-widget
  .elementor-2840
  .elementor-element.elementor-element-1ca041d7.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-2840
  .elementor-element.elementor-element-1ca041d7.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-2840
  .elementor-element.elementor-element-1ca041d7
  > .elementor-element-populated {
  margin: 0px 0px 0px 0px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(40px / 2);
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(40px / 2);
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(40px / 2);
  margin-left: calc(40px / 2);
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-40px / 2);
  margin-left: calc(-40px / 2);
}
body.rtl
  .elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-40px / 2);
}
body:not(.rtl)
  .elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-40px / 2);
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-item:not(:last-child):after {
  content: "";
  border-color: #ffffff33;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child):after {
  border-top-style: solid;
  border-top-width: 1px;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-style: solid;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-inline-items
  .elementor-icon-list-item:not(:last-child):after {
  border-left-width: 1px;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-icon
  i {
  color: #ffffff;
  transition: color 0.3s;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-icon
  svg {
  fill: #ffffff;
  transition: fill 0.3s;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-d2a20c6);
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-item:hover
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-d2a20c6);
}
.elementor-2840 .elementor-element.elementor-element-28dcb03 {
  --e-icon-list-icon-size: 1.3rem;
  --e-icon-list-icon-align: left;
  --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.25) 0
    0;
  --icon-vertical-offset: 0px;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-icon {
  padding-right: 7px;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-item
  > a {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
  line-height: 20px;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-text {
  color: var(--e-global-color-d2a20c6);
  transition: color 0.3s;
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  .elementor-icon-list-item:hover
  .elementor-icon-list-text {
  color: var(--e-global-color-d2a20c6);
}
.elementor-2840
  .elementor-element.elementor-element-28dcb03
  > .elementor-widget-container {
  padding: 0px 18px 0px 0px;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: #ffffff33;
}
.elementor-2840 .elementor-element.elementor-element-28dcb03.elementor-element {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-2840 .elementor-element.elementor-element-4994a43 {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #141d3826;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2840
  .elementor-element.elementor-element-4994a43
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-bc-flex-widget
  .elementor-2840
  .elementor-element.elementor-element-2a40db59.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-2840
  .elementor-element.elementor-element-2a40db59.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-2840 .elementor-element.elementor-element-2a40db59 {
  min-width: 175px;
}
.elementor-2840 .elementor-element.elementor-element-7b08551e .the-logo img {
  width: 145px;
}
.elementor-2840 .elementor-element.elementor-element-1ab58a34 {
  text-align: center;
}
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  > ul
  > li:hover
  > a,
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  > ul
  > li
  > a.mPS2id-highlight,
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  > ul
  > li.menu-item-has-children:hover
  > a:after {
  color: #2a2f7d;
}
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  > ul
  > li:before,
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  > ul
  > li
  > a.mPS2id-highlight:before {
  background: #2a2f7d;
}
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  > ul {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  line-height: 20px;
}
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  ul
  ul
  a,
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  ul
  ul
  > li.menu-item-has-children
  > a:after {
  color: var(--e-global-color-text);
}
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  ul
  ul
  a:hover,
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation:not(.no-line)
  ul
  li
  li
  a:before,
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  ul
  ul
  li.current-menu-item
  > a,
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  ul
  ul
  > li.menu-item-has-children
  > a:hover:after {
  color: var(--e-global-color-primary);
}
.elementor-2840
  .elementor-element.elementor-element-1ab58a34
  .main-navigation
  ul
  ul
  a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-2840 .elementor-element.elementor-element-55213c5 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-2840 .elementor-element.elementor-element-82a3d05 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-2840 .elementor-element.elementor-element-20670ab {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-2840 .elementor-element.elementor-element-f4f7460 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-2840 .elementor-element.elementor-element-f92b25b {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-2840 .elementor-element.elementor-element-07516b8 {
  --n-menu-dropdown-content-max-width: initial;
  --n-menu-heading-justify-content: center;
  --n-menu-title-flex-grow: initial;
  --n-menu-title-justify-content: initial;
  --n-menu-title-justify-content-mobile: center;
  --n-menu-open-animation-duration: 500ms;
  --n-menu-toggle-icon-wrapper-animation-duration: 500ms;
  --n-menu-heading-wrap: wrap;
  --n-menu-heading-overflow-x: initial;
  --n-menu-title-font-size: 14px;
  --n-menu-title-color-normal: #020101;
  --n-menu-title-transition: 300ms;
  --n-menu-title-padding: 20px 20px 20px 20px;
  --n-menu-icon-size: 16px;
  --n-menu-toggle-icon-size: 20px;
  --n-menu-toggle-icon-hover-duration: 500ms;
  --n-menu-toggle-icon-distance-from-dropdown: 0px;
}
.elementor-2840
  .elementor-element.elementor-element-07516b8
  > .elementor-widget-container
  > .e-n-menu
  > .e-n-menu-wrapper
  > .e-n-menu-heading
  > .e-n-menu-title,
.elementor-2840
  .elementor-element.elementor-element-07516b8
  > .elementor-widget-container
  > .e-n-menu
  > .e-n-menu-wrapper
  > .e-n-menu-heading
  > .e-n-menu-title
  > .e-n-menu-title-text,
.elementor-2840
  .elementor-element.elementor-element-07516b8
  > .elementor-widget-container
  > .e-n-menu
  > .e-n-menu-wrapper
  > .e-n-menu-heading
  > .e-n-menu-title
  > a.e-n-menu-title-link
  > .e-n-menu-title-text {
  font-family: "Inter", Sans-serif;
  font-weight: 500;
}
.elementor-2840
  .elementor-element.elementor-element-07516b8
  > .elementor-widget-container
  > .e-n-menu
  > .e-n-menu-wrapper
  > .e-n-menu-heading
  > .e-n-menu-title:not(.e-current):not(:hover) {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #ffffff;
}
.elementor-2840 .elementor-element.elementor-element-07516b8 {
  --n-menu-title-color-hover: #9d7f04;
  --n-menu-title-color-active: #9d7f04;
}
.elementor-2840
  .elementor-element.elementor-element-07516b8
  > .elementor-widget-container
  > .e-n-menu
  > .e-n-menu-wrapper
  > .e-n-menu-heading
  > .e-n-menu-title:hover:not(.e-current) {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #9d7f04;
}
.elementor-2840
  .elementor-element.elementor-element-07516b8
  > .elementor-widget-container
  > .e-n-menu
  > .e-n-menu-wrapper
  > .e-n-menu-heading
  > .e-n-menu-title.e-current {
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #9d7f04;
}
.elementor-2840
  .elementor-element.elementor-element-07516b8
  > .elementor-widget-container
  > .e-n-menu
  > .e-n-menu-wrapper
  > .e-n-menu-heading
  > .e-n-menu-title {
  border-radius: 0px 0px 0px 0px;
}
.elementor-2840
  .elementor-element.elementor-element-336223fd.elementor-column
  > .elementor-widget-wrap {
  justify-content: flex-end;
}
.elementor-2840 .elementor-element.elementor-element-336223fd {
  min-width: 130px;
}
.elementor-2840 .elementor-element.elementor-element-4c593 .toggle-search i {
  color: #1b1d21;
}
.elementor-2840
  .elementor-element.elementor-element-4c593
  > .elementor-widget-container {
  margin: 0px 0px 0px 25px;
}
.elementor-2840
  .elementor-element.elementor-element-f995aa2
  > .elementor-widget-container {
  margin: 0px 0px 0px 25px;
}
@media (min-width: 768px) {
  .elementor-2840 .elementor-element.elementor-element-2a40db59 {
    width: 16.167%;
  }
  .elementor-2840 .elementor-element.elementor-element-57f4f99d {
    width: 72.5%;
  }
  .elementor-2840 .elementor-element.elementor-element-336223fd {
    width: 10.483%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-2840 .elementor-element.elementor-element-2a40db59 {
    width: 20%;
  }
  .elementor-2840 .elementor-element.elementor-element-57f4f99d {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  .elementor-2840 .elementor-element.elementor-element-65c14b10 {
    padding: 0px 012px 0px 012px;
  }
  .elementor-2840 .elementor-element.elementor-element-28dcb03 {
    width: var(--container-widget-width, 124.194%);
    max-width: 124.194%;
    --container-widget-width: 124.194%;
    --container-widget-flex-grow: 0;
  }
  .elementor-2840 .elementor-element.elementor-element-1ab58a34 {
    text-align: right;
  }
  .elementor-2840
    .elementor-element.elementor-element-1ab58a34
    .main-navigation
    ul
    ul
    a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
}
@media (max-width: 767px) {
  .elementor-2840
    .elementor-element.elementor-element-1ab58a34
    .main-navigation
    ul
    ul
    a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
} /* Start custom CSS for icon-list, class: .elementor-element-28dcb03 */
.e-font-icon-svg,
.e-fas-phone-alt {
  width: 1rem;
} /* End custom CSS */
